@use './theme/dark.scss';
@use './theme/light.scss';

:root {
  --navbar-height: 40px;
}
body {
  background-color: var(--background-color);
  color: var(--main-color);
}

.app {
  min-height: 100vh;
  padding-top: 10px;
}

.navbar {
  margin-top: 10px;
}

.page-content {
  padding: 10px;
  min-width: 100vh;
  height: calc(100vh - var(--navbar-height) - 20px);
}
